.container {
    max-width: 400px;
    border: 5px solid black;
    margin: 10vh auto 0 auto;
    background-color: black;
}

#display {
    text-align: right;
    height: 75px;
    color: black;
    background-color: white;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 50px;
}

.keypad {
    display: grid;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    border: 0.5px solid #999;
    color: white;
    background-color: #17212B;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    border-radius: 45%;
    cursor: pointer;
}

#operator {
    background-color: #F6AE03;
    color: #FDFEFF;
}

#special {
    background-color: #A5A5A5;
    color: black;
}